.social-Login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |Continue with Github
    button.socail-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            |Contibue with Facebook