extends layouts/main

block content
    .test-btn
        button(type="submit" id="test-btn") 테스트버튼
    #container
        .content__column.lookUp-table
            h2 LookUp Table
            select(id="selectBox" name="selectBox")
                option(value="") 선택하세요
            #content-layer
                #lookupTable
                table#objectTable
                    thead
                        tr
                        th
                        th Object Name
                        th Object Mac
                    tbody#tbody
        .content__column.policy-table
            h2 Policy Table
            #policy-layer
                #policyTable
        .content__column.misbehavior-table
            h2 Misbehavior Table
            #misbe-layer
                #misbeTable
                table#misTable
                    thead
                        tr
                        th
                        th penalty
                        th reason
                        th time
                    tbody#misbody
                
