extends layouts/main

block content
    .form-container
        h2 NAC Service
        form(action=routes.login, method="post")
            input(type="text", name="text", placeholder="아이디를 입력하세요", required=true)
            input(type="password", name="password", placeholder="비밀번호를 입력하세요", required=true)
            input(type="submit",value="로그인")
        .join-form
            p
                a(href="#") 회원가입
        //- include partials/socialLogin